@model TodoList.Entities.ToDoTask

@{
    var options = new AjaxOptions()
    {
        UpdateTargetId = "tableDiv",
        Url = Url.Action("BuildToDoTasksTable", "ToDoTasks")
    };
}

@using (Ajax.BeginForm(options)) 
{
    @Html.AntiForgeryToken()

    <div class="row" id="searchDiv">
        <div class="col-md-6">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Task description" } })
        </div>

        <div class="col-md-1">
            <input type="submit" value="Search" class="btn btn-default"/>
        </div>
    </div>
}
